<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.second.dao.DataDao">
    <select id="FindById" resultType="com.example.second.entity.Data">
        select * from data where id=#{id}
    </select>
    <update id="Update_data" parameterType="com.example.second.entity.Data">
        update data set id=#{id},data=#{data} where id=#{id}
    </update>
</mapper>